.container {
  margin: 0 auto;  
  width: 80%;
	font-family: 'Open Sans', sans-serif;
}

header{
	border-bottom: 1px solid grey;
}

h1{
	font-size: 2em;
	margin: 0.67em 0;
}

nav{
	padding-top: 20px;
	float: left;
	width: 20%;
}

nav ul{
	list-style-type: none;
}

.content{
	float:right;
	width: 75%;
	padding-left: 40px;
	border-left: 1px solid grey;
}

footer{
	border-top: 1px solid grey;
	clear:both;
	padding: 30px;
}